<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<main class="container">
    <header>
        <h1>Bienvenido</h1>
    </header>
    <p>Nombres: {{user.first_name}}</p>
    <p>Apellidos: {{user.last_name}}</p>
    <p>Correo eletrónico: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.rol}}</p>
    <footer>
        <a href="/api/sessions/logout" role="button">Cerrar sesion</a>
    </footer>
    <h1>Productos existentes</h1>
    <div>
        {{#if products}}
            {{#if products.length}}
                <table>
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">title</th>
                        <th scope="col">description</th>
                        <th scope="col">price</th>
                        <th scope="col">thumbnail</th>
                        <th scope="col">code</th>
                        <th scope="col">stock</th>
                        <th scope="col">category</th>
                        <th scope="col">opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each products}}
                        <tr>
                            <th scope="row">{{this._id}}</th>
                            <td>{{this.title}}</td>
                            <td>{{this.description}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.thumbnail}}</td>
                            <td>{{this.code}}</td>
                            <td>{{this.stock}}</td>
                            <td>{{this.category}}</td>
                            <td>
                                <button>Ver</button>
                                <button>Adicionar</button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
                <p>Página actual: {{page}}</p>
                {{#if hasPrevPage}}
                    <a href="{{prevLink}}" role="link">anterior</a>
                {{/if}}
                {{#if hasNextPage}}
                    <a href="{{nextLink}}" role="link">siguiente</a>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>

</main>